<h1><%= @user.username %></h1>

<% if @user.restaurant_owner %>
	<% if @owned_restaurants.length > 0 %>
		<% @owned_restaurants.each do |rest| %>

			<%= link_to rest.name, rest %>

		<% end %>
	<% end %>
<% end %>



<ul>
	<% if @user.reservations %>
		<% @user.reservations.each do |res| %>
			<li><h4><%= link_to res.restaurant.name, restaurant_path(res.restaurant_id) %></h4>
				Party-size: 
				<%= res.groupsize %><br />
				<%= link_to "Edit Reservation", 
					edit_restaurant_reservation_path(id: res.id, restaurant_id: res.restaurant.id) %>
			</li>
		<% end %>
	<% else %>
		<p>No Reservations</p>
	<% end %>
</ul>