<h1>New Reservation</h1>

<%= form_for([@restaurant, @restaurant.reservations.build]) do |f| %>
  <% if @reservation.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

		  <ul>
		  <% @reservation.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
  <% end %>

	<ul>
		<div class="field">
			<%=f.label :reservation_name, "Name for reservation" %>
			<%=f.text_field :reservation_name, placeholder:'name'%>
		</div>
		<div class="field">
			<%=f.label :groupsize %>
			<%=f.text_field :groupsize, placeholder:'group size' %>
		</div>
		<div class="field">
			<%=f.submit %>
		</div>


<% end %>