<h1>New Reservation</h1>
<h2><%= params %></h2>
<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

		  <ul>
		  <% @reservation.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
  <% end %>

	<ul>
		<div class="field">
			<%=f.label "Name" %>
			<%=f.text_field :username, placeholder:'name'%>
		</div>
		<div class="field">
			<%=f.label :groupsize %>
			<%=f.text_field :groupsize, placeholder:'group size' %>
		</div>
		<div class="field">
			<%= f.label "Select a Restaurant" %>
			<%=f.collection_select :restaurant, Restaurant.all, :id, :name, params[:restaurant_id] %>
		</div>
		<div class="field">
			<%=f.submit %>
		</div>


<% end %>