<h1>Restaurants</h1>
<ul>
	<% @restaurants.each do |r| %>
			<h2><%= r.name %></h2>
			<section class="restaurant_image"><%= image_tag(r.picture_url) %></section>
			<section class="section">
				Category: <%= r.category %><br />
				Seats: <%= r.seats %><br />
				Address: <%= r.address	%>
			<div class="ratings">
				Rating: <%= r.ratings %>
			</div>
			<span class="price">
				Price: <%= r.price %>
			</span></br></br></section>
			<div class="button"><%= link_to "show page", r%></div>
	<% end %>
</ul>

