<h1>Restaurants</h1>
<ul>
	<% @restaurants.each do |r| %>
			<h2><%= r.name %></h2>
			<%= image_tag(r.picture_url) %>
			<p>
				Category: <%= r.category %><br />
				Seats: <%= r.seats %><br />
				Address: <%= r.address	%>
			</p>
			<div class="ratings">
				Rating: <%= r.ratings %>
			</div>
			<span class="price">
				Price: <%= r.price %>
			</span></br></br>
			<%= link_to "show page", r%>
	<% end %>
</ul>

