<h1>Show</h1>
<h2><%= @restaurant.name %></h2>

	<p> 
		<%= image_tag(@restaurant.picture_url) %>
		Remaining seats: <%= @restaurant.available_seats %> 
	</p>
	
	<% if current_user.id == @restaurant.owner_id %>
		<%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %>
		<%= link_to "Remove Restaurant", @restaurant, method: :delete %>
		<div>	
			<h3>Reservations:</h3>
			<% if @reservations.length > 0 %>
				<% @reservations.each do |res| %>
					<p>
						Reservation for: <%= res.reservation_name %> <br />
						Party of : <%= res.groupsize %>
				</p>
				<% end %>
			<% else %>
			<p> No Reservations </p>
			<% end %>
		</div>
	<% end %>
<% unless @reservations.map(&:user_id).include?(current_user.id) %>
	<%= link_to "New Reservation", new_restaurant_reservation_path(params[:id]) %>
<% end %>